.box-serv{
    width: 100%;
    background-color: #efefef;
}

.purpose{
    padding-top: 20px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.purpose-type{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: White;
    position: relative;
}

.purpose-type img{
    width: 100%;
    border-radius: 7px;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(216, 71, 4, 0.594));
    opacity: 0;
    transition: 1s;

}


.purpose-type:hover .overlay{
    opacity: 1;
}

.des{
    width: 80%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
}

hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.des p{
    font-size: 14px;
}

.purpose-type:hover .des{
    bottom: 20%;
    opacity: 1;
}

@media only screen and (max-width:570px){
    .purpose-type{
        flex: 100%;
        margin-bottom: 30px;
    }
    .des p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .purpose-type:hover .des{
        bottom: 15%;
    }
}